<div class="container">
  <table class="table table-striped" style="display:none">
    <thead>
      <tr>
        <th>Composer ID</th>
        <th>Work ID</th>
        <th>MTD ID</th>
        <th>BM ID</th>
        <!-- <th>WCMID</th> -->
        <th>Refine Alignment</th>
      </tr>
    </thead>
    <tbody>
      {% for i, row in data.iterrows() %}
      <tr>
        <td>{{ row['ComposerID'] }}</td>
        <td>{{ row['WorkID'] }}</td>
        <td><a href="https://www.audiolabs-erlangen.de/resources/MIR/MTD-overview/theme/{{ row['MTDID'] }}.html" target="_blank">{{ row['MTDID'] }}</a></td>

        <td>{{ row['BMID'] }}</td>
        <!-- <td><a href="http://wcm.audiolabs.uni-erlangen.de/tracks/{{ row['WCMID'] }}" target="_blank">{{ row['WCMID'] }}</a></td> -->

        <td><a href="{{ url_for('refiner.index', mtd_id=row['MTDID']) }}">view</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
